body {
  height: 100%;
}
.slika {
  /*height: 64px;*/
}
.brand-logo {
  /* background-color: white;*/
  margin-left: 50px;
}
.carousel {
  height: 500px !important;
}
.slikice {
  height: 600px;
  object-fit: fill;
}
#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.card-panel {
  height: 300px;
}
.strelica {
  position: relative;
  top: 50px;
}
@media (max-width: 991px) {
  .brand-logo {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .slika {
    /* height: 56px; */
  }
  /*.brand-logo {
    margin-left: 0;
  }*/
}
