body {
  height: 100%;
}
.nav-wrapper {
  background-color: #ef7f1e !important;
}
.brand-logo {
  /* background-color: white;*/
  margin-left: 50px;
}
.carousel {
  height: 500px !important;
}
.slikice {
  height: 600px;
  object-fit: fill;
}
#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.podcrtaj {
  text-decoration: underline;
}
.card-panel {
  height: 300px;
  background-color: #ef7f1e !important;
}
.strelica {
  position: relative;
  top: 50px;
}
.naslov {
  font-size: 36pt;
}
.strelica1 {
  margin-top: 20px;
}
.lista {
  font-size: 16pt;
}
.btn-nevidljivi {
  background-color: #ef7f1e !important;
}
.page-footer {
  background-color: #ef7f1e !important;
}
@media (max-width: 1100px) {
  .naslov {
    font-size: 30pt;
  }
  .lista {
    font-size: 14pt;
  }
}
@media (max-width: 991px) {
  .brand-logo {
    margin-left: 0;
  }
  .naslov {
    font-size: 30pt;
  }
  .lista {
    font-size: 14pt;
  }
}
@media (max-width: 750px) {
  .naslov {
    font-size: 28pt;
  }
  .lista {
    font-size: 14pt;
  }
}
@media (max-width: 650px) {
  .naslov {
    font-size: 26pt;
  }
  .lista {
    font-size: 12pt;
  }
}
@media (max-width: 600px) {
  .naslov {
    font-size: 36pt;
  }
  .lista {
    font-size: 14pt;
  }
  .strelica {
    position: initial;
  }
  .strelica-wrapper {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .naslov {
    font-size: 32pt;
  }
  .lista {
    font-size: 14pt;
  }
  .strelica {
    position: initial;
  }
  .strelica-wrapper {
    text-align: center;
  }
}
@media (max-width: 475px) {
  .naslov {
    font-size: 28pt;
  }
  .lista {
    font-size: 12pt;
  }
  .kont-card {
    height: 350px;
  }
}
