body {
  height: 100%;
}
.bcg-orng {
  background-color: #ef7f1e !important;
}
.txt-orng {
  color: #ef7f1e !important;
}
.brand-logo {
  /* background-color: white;*/
  margin-left: 50px;
}
.carousel {
  height: 500px !important;
}
.slikice {
  height: 600px;
  object-fit: fill;
}
.slika-cover {
  object-fit: fill !important;
  width: 100%;
  height: 450px;
}
.box {
  position: relative;
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
=======
  display: inline-block;
  width: 70%;
>>>>>>> 9fe7b193c2587296da949b5009bb974bcaeb4b41
}
.box::before {
  content: "";
  position: absolute;
<<<<<<< HEAD
  background: rgba(0, 0, 0, 0.7);
  height: 15%;
  left: 0;
  bottom: 0;
=======
  background: rgba(0, 0, 0, 0.5);
  height: 15%;
  left: 0;
  bottom: 5px;
>>>>>>> 9fe7b193c2587296da949b5009bb974bcaeb4b41
  right: 0;
}
.img-desc {
  color: white;
  font-size: 20pt;
  font-weight: bold;
<<<<<<< HEAD
  z-index: 10;
  position: absolute;
  bottom: 1vw;
  max-width: 100%;
=======
  z-index: 5;
  position: absolute;
bottom:5%;
>>>>>>> 9fe7b193c2587296da949b5009bb974bcaeb4b41
}
#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.podcrtaj {
  text-decoration: underline;
}
.card-panel {
  height: 300px;
}
.strelica {
  position: relative;
  top: 50px;
}
.naslov {
  font-size: 36pt;
}
.strelica1 {
  margin-top: 20px;
}
.lista {
  font-size: 16pt;
}
.aboutUpraviteljCard {
  display: flex;
  flex-direction: column;
  /*min-height: 50vh;*/
  height: 100%;
}
.flex-content {
  flex: 1;
  margin-left: -15% !important;
  margin-right: -15% !important;
}
.card-naslov {
  font-size: 28pt;
  font-weight: bolder;
}
.tab a {
  color: black !important;
}
.tab a.active {
  color: black !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.tabs .indicator {
  background-color: black !important;
}
.tab {
  display: inline-block !important;
}
@media (max-width: 1100px) {
  .naslov {
    font-size: 30pt;
  }
  .lista {
    font-size: 14pt;
  }
}
@media (max-width: 991px) {
  .brand-logo {
    margin-left: 0;
  }
  .naslov {
    font-size: 30pt;
  }
  .lista {
    font-size: 14pt;
  }
  .flex-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .slika-cover {
    /*object-fit: fill !important;*/
    max-width: 100%;
    height: auto;
  }
<<<<<<< HEAD
  .img-desc {
    font-size: 16pt;
  }
=======
>>>>>>> 9fe7b193c2587296da949b5009bb974bcaeb4b41
}
@media (max-width: 750px) {
  .naslov {
    font-size: 28pt;
  }
  .lista {
    font-size: 14pt;
  }
  .img-desc {
    font-size: 14pt;
  }
}
@media (max-width: 650px) {
  .naslov {
    font-size: 26pt;
  }
  .lista {
    font-size: 12pt;
  }
  .img-desc {
    font-size: 12pt;
  }
}
@media (max-width: 600px) {
  .naslov {
    font-size: 36pt;
  }
  .lista {
    font-size: 14pt;
  }
  .strelica {
    position: initial;
  }
  .strelica-wrapper {
    text-align: center;
  }
  .img-desc {
    font-size: 10pt;
  }
}
@media (max-width: 540px) {
  .naslov {
    font-size: 32pt;
  }
  .lista {
    font-size: 14pt;
  }
  .strelica {
    position: initial;
  }
  .strelica-wrapper {
    text-align: center;
  }
  .img-desc {
    font-size: 8pt;
  }
}
@media (max-width: 475px) {
  .naslov {
    font-size: 28pt;
  }
  .lista {
    font-size: 12pt;
  }
  .kont-card {
    height: 350px;
  }
  footer {
    background-color: #ef7f1e !important;
  }
}
